{% extends './base.html' %}
{% block content %}
    <h1>会員一覧</h1>

    <table class='table table-striped table-hover'>
        <tr>
            <th>ID</th>
            <th>氏名</th>
        </tr>
        
        {% for user in object_list %}
            <tr>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    <a href='{% url "user:detail" user.pk %}'>{{ user.last_name }}{{ user.first_name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
